

html {
  background-color: #272727;
  height: 100%;
  width: 100%;

}

body{
  text-align: center;
  font-family: 'Muli', sans-serif !important;
}

/********* HEADER *******************/

/*Navbar */

.nav-link{
  color: white;
  font-size: 17px;
}

.navBar{
  background-color: #272727;
  color: white;
  margin-bottom: 0% !important;
}

.navbar-brand{
  font-family: 'Permanent Marker', sans-serif;
  color: white !important;
  font-size: 30px !important;
}

.nav-link:hover {
    background-color: transparent !important;
    color: white !important;
}

.nav-link:active, .nav-link:focus{
  background-color: transparent !important;
}

.accountLinks{
  margin-left: 78%;
}

/********* HOME *******************/

/*Content */

.cover-container {
  width: 100%;
  text-align: center;
}

.slogan {
  color: white;
  font-size: 40px;
  margin-top: 10%;
  text-shadow: 3px 3px 4px #000000;
  font-weight: bold;
}

.title1Home{
  font-size: 40px !important;
  padding-left: 2%;
}

.titleHome2{
  font-size: 40px !important;
  padding-top: 2%;
}

.sagaSection{
  font-size: 40px;
  max-width: 100%;
  background-color: #272727 !important;
  color: white !important;
  margin-top: 47%;
}

.thumbnail{
  width: 300px;
  height: 270px;
  background-color: #E1E1E1 !important;
}

.thumbnail a>img{
  height: 70% !important;
  width: 100%;
  box-shadow: 2px 2px 2px #888888;
}

.sagaThumnailsContainer{
  margin-top: -7%;
}

.footer{
  color: white !important;
}

/****** SIGN IN AND SIGN UP FORMS ******/

.signForms{
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 92px;
}

.signForms .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
}

.signInForm, .signUpForm{
  background-color: #272727;
  min-width: 100%;
  color: white;
}

/******** GOOGLE MAP *******/

.googleMap > div{
  height : 500px;
  width: 500px;
}

.mapAllLocations > div{
  height: 550px;
  width: 700px;
  margin-left: 7%;
}

.iframe-container{
    position: relative;
    width: 80%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    margin-left: 9%;
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80%;
    width: 100%;
}

.mapSagaDetail{
  margin-left: 10%;
}

/******* GLOBAL ********/

.error{
  color: red;
}

/*CHECK!!!!!!!!!!!!!!!!!*/

/********* USER HOME **********/

.userHome,.welcomeSection, .addSagaSection, .sagaDetailSection, .sagasAroundWorld{
  background-color: #272727 !important;
  color: white !important;
}

.welcomeSection{
  margin-top: 8%;
}

.sagaThumbnailSection{
  padding-bottom: 10%;
}

.thumbnail > a{
  color: black !important;
  font-weight: bold;
  font-size: 25px;
  margin-top: 1%;
}

/***** FORM TO ADD SAGA *******/

.headingSagaTellingSpace{
  font-size: 60px;
  margin-top: 8%;
  margin-bottom: 1%;
  margin-left: -21%;
}

.row{
  padding-top: 5%;
}

.form-group{
  width:45%;
}

.topInput{
  margin-top: 10%;
}

.alertAddForm{
  margin-left: -29%;
  margin-right: 15%;
}

.sagaContainer{
  margin-top: 8%;
}

.editBtn{
  margin-left: 10%;
}

.buttonSection{
  margin-bottom: 5%;
}

.storyText{
  font-size: 20px;
  margin-top: -6%;
}

.headingSagaDetail{
  font-size: 60px;
  margin-right:5%;
}

/*.mapInSagaDetails{
  margin-left: 15%;
}*/

/*.sagaImage{
  margin-left: 15%;
}*/


/****** MEDIA QUERIES ******/

/*HOME*/

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .coverPhoto{
    height: 75% !important;
  }

  .slogan{
    font-size: 15px !important;
    margin-top: 91%;
    /*text-align: center;*/*/
  }

  .title1Home{
    margin-top: 2%;
    font-size: 25px !important;

  }

  .titleHome2{
    font-size: 30px !important;
  }

  .sagaSection {
    margin-top: 10% !important;
  }

  .sagaThumnailsContainer{
    margin-left: -20% !important;
    margin-top: -26% !important;
  }

  /*USER HOME*/

  .welcomeSection{
    margin-top: 30%;
  }

  /*ADD SAGA*/

  .headingSagaTellingSpace{
    margin-top: 70%;
    margin-left: 1%;
    font-size: 50px;
  }

  .addSagaForm{
    margin-left: 6%;
  }

  .form-group{
    width: 70%;
  }


  /*SAGA DETAILS*/

  .sagaContainer{
    margin-top: 50%;
    font-size: 17px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {

  .coverPhoto{
    height: 90% !important;
    /*background-size: contain !important;*/
  }

  .slogan{
    font-size: 18px !important;
    margin-top: 92% !important;
    /*text-align: center;*/*/
  }

  .title1Home{
    margin-top: 2%;
    font-size: 25px !important;

  }

  .titleHome2{
    font-size: 30px !important;
  }

  .sagaSection {
    margin-top: 22% !important;
  }

  /*USER HOME*/

  .welcomeSection{
    margin-top: 30%;
  }

  /*ADD SAGA*/

  .headingSagaTellingSpace{
    margin-top: 60%;
    margin-left: 1%;
    /*font-size: 40px;*/
  }

  .addSagaForm{
    margin-left: 6%;
  }

  .form-group{
    width: 70%;
  }

  /*SAGA DETAILS*/

  .sagaContainer{
    margin-top: 40%;
  }

  /*.sagaDetailSection{
    padding-top: 30% !important;
  }*/
}


@media screen and (min-width: 481px) and (max-width: 768px){

  .coverPhoto{
    height: 90% !important;
  }

  .slogan{
    font-size: 20px ;
    margin-top: 60% ;
    /*text-align: center;*/*/
  }

  .title1Home{
    margin-top: 2%;
    font-size: 25px !important;

  }

  .titleHome2{
    font-size: 30px !important;
  }

  .sagaSection {
    margin-top: 10% !important;
  }

  /*USER HOME*/

  .welcomeSection{
    margin-top: 30%;
  }

  /*ADD SAGA*/

  .headingSagaTellingSpace{
    margin-top: 57%;
  }

  /*SAGA DETAILS*/

  .sagaContainer{
    margin-top: 30%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){

  .coverPhoto{
    height: 110% !important;
  }

  .slogan{
    font-size: 30px ;
    margin-top: 20% ;
    /*text-align: center;*/*/
  }

  .sagaSection {
    margin-top: 60% !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1266px){

  .coverPhoto{
    height: 100% !important;
  }
  .slogan{
    font-size: 35px !important;
    margin-top: 40% !important;
    /*text-align: center;*/*/
  }

  .title1Home{
    margin-top: 2%;
    font-size: 25px !important;

  }

  .titleHome2{
    font-size: 30px !important;
  }

  .sagaSection {
    margin-top: 50% !important;
  }

  /*USER HOME*/

  .welcomeSection{
    margin-top: 15%;
  }

  /*ADD SAGA*/

  .headingSagaTellingSpace{
    margin-top: 20%;
    margin-left: 5%;
  }

  .addSagaForm{
    margin-left: 6%;
  }

  /*SAGA DETAILS*/

  .sagaContainer{
    margin-top: 15%;
  }

}

/*@media screen and (min-width: 678px) and (max-width: 1266px){
  .slogan{
    font-size: 35px !important;
    margin-top: 70%;
    /*text-align: center;*/*/
  }*/

/*ADD SAGA*/

/*@media screen and (max-width: 350px){
  .headingSagaTellingSpace{
    /*margin-top: 95% !important;*/
    /*font-size: 30px !important;
  }
  .sagaTellingCol{
    margin-top: 18% !important;
  }
}*/*/

@media (min-width:351px) and (max-width: 850px){
  .headingSagaTellingSpace{
    /*margin-top: 90% !important;*/
    font-size: 50px !important;
  }
}

.col-centered{
    float: none;
    margin: 0 auto;
}
